{% extends "base.html" %}

{% block content %}
<script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />

<div class="box" style="width: 400px; margin: auto; margin-bottom: 20px;">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    {% if isUploaded %}
    <div>
        <div class="field">
            <div class="control has-text-centered">
                <strong>1. Upload your points file</strong>
            </div>
        </div>
        <form method=POST action='/dashboard/upload' enctype=multipart/form-data>
            <div class="field">
                <div class="control">
                    <input type=file name=file>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input type=submit value=Upload>
                </div>
            </div>

        </form>
    </div>
    {% endif %}
    {% if not isUploaded %}

    <div>
        <div class="field">
            <div class="control has-text-centered" style="padding-top:5px;">
                <strong>2. Enter algorithm parameters</strong>
            </div>
        </div>
        <form method="POST" action="/dashboard" name="f">
            <input style="display: none;" name="rid" value={{ request.args.get('rid') }} readonly>
            <div class="field">
                {% if request.args.get('poly') is none %}
                <div class="control">
                    <input class="input is-medium" type="number" name="poly" placeholder="Enter polynomial degree"
                        autofocus="" min="1">
                </div>
                {% else %}
                <div class="control">
                    <input class="input is-medium" type="text" name="poly" placeholder="Enter polynomial degree"
                        autofocus="" value={{ request.args.get('poly') }}>
                </div>
                {% endif %}
            </div>

            <div class="field">
                <div class="control">
                    <div class="is-medium" style="float: left;">Select resolution:</div>
                    <select type="dropdown" name="res"
                        style="margin-left: 5px;">
                        {% for resolution in resolutions %}
                        <option value="{{resolution}}">{{resolution}}</option>
                        "
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <div class="is-medium" style="float: left;">Use OSM:&nbsp;</div>
                    <input type="checkbox" name="osm" onclick="use_osm()" />
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <div class="is-medium" style="float: left;">Select precision (in meters):</div>
                    <select type="dropdown" name="precision" disabled
                            style="margin-left: 5px;">
                        <option value="0.009">~1000m</option>
                        <option value="0.0009">~100m</option>
                        <option value="0.00009">~10m</option>
                        <option value="0.000009">~1m</option>
                        <option value="0.0000009">~0.1m</option>
                    </select>

                </div>
            </div>
            <button class="button is-block is-info is-medium is-fullwidth">Run algorithm</button>
        </form>
    </div>

    {% endif %}

    {% if isFinished%}
    <div style="margin-top: 10px;">
        <a href="dashboard">Try another route</a>
    </div>

    {% endif %}
</div>


<div id="map" style="margin:auto;width:80%; height:500px; margin: auto;"></div>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin="">
</script>

{% if isFinished %}
    <div class="form-inline" style="margin: 20px">
        <form method="GET" action="/dashboard" name="pagination">
            <input hidden name="tid" value={{ tid }} />
            <input hidden name="rid" value={{ request.args.get('rid') }} />
            <input hidden name="osm" value={{ osm }} />
            <div class="form-control form-group">
                <label for="pageSize" class="is-medium">Max points:</label>
                <select id="pageSize" class=""  type="dropdown" name="page_size" style="margin-left: 5px;" onchange="this.form.submit()">
                    <option value={{page_size if page_size else 1000}} selected hidden>{{page_size if page_size else 1000}}</option>
                    <option value="all">all</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                    <option value="5000">5000</option>
                </select>
            </div>
            <div class="form-control form-group">
                <label for="page" class="is-medium">Page:</label>
                <input id="page" class="" type="number" name="page" placeholder={{page if page else 0}}
                       autofocus="" min="0" onchange="this.form.submit()" value={{page if page else 0}}>
            </div>
        </form>
    </div>
    <div style="margin:20px;overflow-y: auto;height: 40vh;">
        <table class="table is-striped is-hoverable is-narrow">
            <tr class="th is-selected" style="background: #363636;">
                <th>Point Id</th>
                <th>Error</th>
                <th>Measured at</th>
            </tr>
            {% for distance in distances_error %}
            <tr>
                <td style="color: black;">{{distance[0]}}</td>
                <td style="color: black;">{{distance[1]}}m</td>
                <td style="color: black;">{{distance[2]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

<div id="hist" style="padding:20px;margin:auto;width:600px;height:250px;"></div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endif %}
<script>
    function use_osm(event) {
        var f = document.forms["f"]

        if (f.osm.checked) {
            f.res.disabled = true
            f.poly.disabled = true
            f.precision.disabled = false
        } else {
            f.res.disabled = false
            f.poly.disabled = false
            f.precision.disabled = true
        }
    }

    // Creating a map object
    var map = L.map('map').setView([45.815399, 15.966568], 13);

    var x = []
    // Creating a Layer object
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiZGFyczE2MDgiLCJhIjoiY2tqZnZremUwOHY2bTJ1cWo2NnhnY2xhNiJ9.ePIIXx2Nls8w-S1Ywn0hIg', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1

    }).addTo(map);

    if ({{ line | tojson }} !== null) {
        L.polyline({{ line }}, { color: 'red' }).addTo(map);
    }
    var points = {{ points| tojson}};
    var distances = {{ distances| tojson}};
    var distances_error = {{ distances_error| tojson}};
    var baseUrl = {{ request.url_root | tojson}};

    if (points !== null) {

        points.forEach((element, index) => {

            var iconUrl = baseUrl + 'static/marker_green.png';

            if (distances !== null) {
                if (distances[index] >= 0.75) {
                    iconUrl = baseUrl + 'static/marker_red.png'
                } else if (distances[index] >= 0.5) {
                    iconUrl = baseUrl + 'static/marker_yellow.png'
                } else if (distances[index] >= 0.25) {
                    iconUrl = baseUrl + 'static/marker_lime.png'
                }

                try{
                    L.marker(element, {
                        icon: L.icon({
                            iconUrl: iconUrl,
                            iconSize: [40, 40]
                        })
                    }).addTo(map).bindPopup("Error: " + distances_error[index][1] + "m");

                    x.push(distances_error[index][1]);
                } catch (e) {
                    console.log(e);
                }

            } else {
                L.marker(element, {
                    icon: L.icon({
                        iconUrl: iconUrl,
                        iconSize: [40, 40]
                    })
                }).addTo(map)
            }
        });
        map.setView(points[Math.floor(points.length / 2)])
        trace = {
            x:x,
            type: 'histogram'
        };

        var layout = {
        bargap: 0.05, 
        bargroupgap: 0.2, 
        barmode: "overlay", 
        title: "Errors", 
        xaxis: {title: "Error[m]"}, 
        yaxis: {title: "Count"}
        };
        data = [trace]
        Plotly.newPlot('hist', data, layout)
    } else {
        L.marker([45.815399, 15.966568]).addTo(map)
    }
</script>


{% endblock %}