<!-- templates/login.html -->

{% extends "base.html" %}

{% block content %}
<div class="content">
    {% if routes is not none%}
    <h1 style="text-align: center">Routes</h1>

    {% if routes|length <1 %} <h4 style="text-align: center">There are no routes</h4>
    {% else%}
    <div style="padding-top:2%;margin-top: 20px;overflow-y: auto;height: 40vh;">
    <table class="table is-striped is-hoverable is-narrow">
        <tr class="th is-selected" style="background: #363636;">
            <th>Id</th>
            <th>Created</th>
            <th></th>
        </tr>
        {% for route in routes %}
        <tr>
            <td style="color: black;">{{ route.id }}</td>
            <td style="color: black;">{{ route.created_at.strftime("%H:%M:%S %d/%m/%Y") }}</td>
            <td>
                <a href="/history/{{route.id}}">Select</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
    {% endif %}
    {% elif predicted is not none%}
    <h1 style="text-align: center">Predicted Trajectories</h1>
    {% if predicted|length <1 %} <h4 style="text-align: center">There are no predicted trajectories for this route
</h4>
    <a href="/history">Back to routes</a>
    {% else%}
    <a href="/history">Back to routes</a>
    <div style="padding-top:2%;margin-top: 20px;overflow-y: auto;height: 40vh;">
    <table class="table is-striped is-hoverable is-narrow">
        <tr class="th is-selected" style="background: #363636;">
            <th>Id</th>
            <th>Type</th>
            <th>Parameters</th>
            <th>Link</th>
        </tr>
        {% for prediction in predicted %}
        <tr>
            <td style="color: black;">{{ prediction.id }}</td>
            <td style="color: black;">{{ prediction.type}}</td>
            <td style="color: black;">{{ prediction.params}}</td>
            <td><a href="/history/{{rid}}/{{prediction.type}}/{{prediction.id}}">Display</a></td>
        </tr>
        {% endfor %}
    </table>
    </div>
    {% endif %}

    {% else%}
    <a href="/history">Back to routes</a>

    <div id="map" style="width:80%; height:500px; margin: auto;"></div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

    <div class="form-inline" style="margin: 20px">
        <form method="GET" name="pagination">
            <input hidden name="tid" value={{ tid }} />
            <input hidden name="rid" value={{ request.args.get('rid') }} />
            <input hidden name="osm" value={{ osm }} />
            <div class="form-control form-group">
                <label for="pageSize" class="is-medium">Max points:</label>
                <select id="pageSize" class=""  type="dropdown" name="page_size" style="margin-left: 5px;" onchange="this.form.submit()">
                    <option value={{page_size if page_size else 1000}} selected hidden>{{page_size if page_size else 1000}}</option>
                    <option value="all">all</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                    <option value="5000">5000</option>
                </select>
            </div>
            <div class="form-control form-group">
                <label for="page" class="is-medium">Page:</label>
                <input id="page" class="" type="number" name="page" placeholder={{page if page else 0}}
                       autofocus="" min="0" onchange="this.form.submit()" value={{page if page else 0}}>
            </div>
        </form>
    </div>
    <div style="margin-top: 20px;overflow-y: auto;height: 40vh;">
        <table class="table is-striped is-hoverable is-narrow">
            <tr class="th is-selected" style="background: #363636;">
                <th>Point Id</th>
                <th>Error</th>
                <th>Measured at</th>
            </tr>
            {% for distance in distances_error %}
            <tr>
                <td style="color: black;">{{distance[0]}}</td>
                <td style="color: black;">{{distance[1]}}m</td>
                <td style="color: black;">{{distance[2]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div id="hist" style="padding-top:2%;margin:auto;width:600px;height:250px;"></div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {% endif %}


</div>
<script>

    // Creating a map object
    var map = L.map('map').setView([45.815399, 15.966568], 13);
    var x = []
    // Creating a Layer object
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1

    }).addTo(map);

    if ({{line | tojson}} !== null)
    {
        L.polyline({{line}}, {color: 'red'}).addTo(map);
    }
    var points = {{points | tojson}};
    var distances = {{distances | tojson}};
    var distances_error = {{ distances_error| tojson}};
    var baseUrl = {{request.url_root | tojson}};

    if (points !== null && distances !== null) {

        points.forEach((element, index) => {

            var iconUrl = baseUrl + 'static/marker_green.png';

            if (distances[index] >= 0.75) {
                iconUrl = baseUrl + 'static/marker_red.png'
            } else if (distances[index] >= 0.5) {
                iconUrl = baseUrl + 'static/marker_yellow.png'
            } else if (distances[index] >= 0.25) {
                iconUrl = baseUrl + 'static/marker_lime.png'
            }
            var myIcon = L.icon({
                iconUrl: iconUrl,
                iconSize: [40, 40]
            });
            L.marker(element, {icon: myIcon}).addTo(map).bindPopup("Error: " + distances_error[index][1] + "m");
            x.push(distances_error[index][1])
        });
        map.setView(points[Math.floor(points.length / 2)]);

        trace = {
            x:x,
            type: 'histogram'
        };

        var layout = {
        bargap: 0.05, 
        bargroupgap: 0.2, 
        barmode: "overlay", 
        title: "Errors", 
        xaxis: {title: "Error[m]"}, 
        yaxis: {title: "Count"}
        };
        data = [trace]
        Plotly.newPlot('hist', data, layout)
    } else {
        L.marker([45.815399, 15.966568]).icon.addTo(map)
    }

</script>

{% endblock %}