<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
    GPS Trajectory Correction
</h1>
<h2 class="subtitle">
    Project Assignment, Geospatial Systems @ Faculty of Electrical Engineering and Computing, University of Zagreb
</h2>
{% endblock %}
